/**
 * halorituals.com custom css
 * @author Gifford Nowland <hi@giffordnowland.com> (https://giffordnowland.com)
 */
#site-menu-wrapper {
  display: inline-block;
  vertical-align: middle;
  
  nav {
    float: left;
    clear: both;
  }
}
